@import "../../node_modules/bootstrap/scss/functions";

$body-bg: #efefef;

$card-bg: #ffffff;
$input-bg: #fffff;

$primary: #b20fd1;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "components";